[submodule "personalsite/themes/hugo-blog-awesome"]
	path = personalsite/themes/hugo-blog-awesome
	url = git@github.com:hugo-sid/hugo-blog-awesome.git
[submodule "personalsite/public"]
	path = personalsite/public
	url = git@github.com:salvatore-ferrone/salvatore-ferrone.github.io.git
	branch = main
